<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>DAT250 A2 - Home</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@mdi/font@6.2.95/css/materialdesignicons.min.css"
  />
</head>
<body>
  <section class="hero is-light is-fullheight" style="overflow-x: hidden; overflow-y: hidden; width: 100%; position: fixed;">
    {% block body %}{% endblock %}
  </section>
</body>
