{% extends "base.html" %} {% block body %}

<div class="columns is-vcentered">
  <div class="column is-2">
    {% include "panel_users.html" %}
  </div>
  <div class="column is-10">
    <div class="hero-head my-2">{% include "stats_user.html" %}</div>
    <section style="
        overflow-y: scroll;
        height: 100%;
        max-height: 75vh;
        min-height: 75vh;
        position: relative;
      ">
        {% include "message.html" %}
        {% include "message.html" %}
        {% include "message.html" %}
        {% include "message.html" %}
        {% include "message.html" %}
    </section>
    <div class="columns mt-1 mr-2">
      <div class="column is-10">
        <input class="input" type="text" placeholder="Type message">
      </div>
      <div class="column is-2">
        <input class="input button is-warning" type="button" value="Send">
      </div>
    </div>
  </div>
</div>
<div class="hero-foot">
  <div class="columns is-centered">
    <div class="column is-full has-text-centered mb-2 pt-2">
      Connected as {{ current_user }}
    </div>
  </div>
</div>

{% endblock %}