<article class="panel ml-2">
  <p class="panel-heading">
    <span class="icon mr-1">
      <i class="mdi mdi-account-group mdi-24px" aria-hidden="true"></i>
    </span>
    Users online
  </p>
  {% for user in get_users %}
  <a class="panel-block is-danger">
    <span class="panel-icon has-text-warning">
      <i class="mdi mdi-account" aria-hidden="true"></i>
    </span>
    {{user.capitalize()}}
  </a>
  {% endfor %}
</article>
