<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Users online</p>
      <p class="title">{{ count_users_online }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Messages received</p>
      <p class="title">{{ count_messages_received }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Messages sent</p>
      <p class="title">{{ count_messages_sent }}</p>
    </div>
  </div>
</nav>